@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rounded+Mplus+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1c&display=swap');

@font-face {
  font-family: 'Uzura';
  src: url('/fonts/uzura.ttf') format('truetype');
}

@font-face {
  font-family: 'kawaii手書き';
  src: url('/fonts/KTEGAKI.ttf') format('truetype');
}

@font-face {
  font-family: 'マルミーニャM';
  src: url('/fonts/x12y12pxMaruMinyaM.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Rounded Mplus 1c", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
